---
import BlogList from "../../components/BlogList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/global.css";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const authors = await getCollection("author");
  return authors.map((author) => ({
    params: { author: author.id },
    props: { authorData: author.data },
  }));
}
const { author } = Astro.params;
const { authorData } = Astro.props;

const allPosts = await getCollection("blog");
const filteredPosts = allPosts.filter((post) =>
  post.data.author.includes(author),
);
---

<style>
  .shortMessage {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    color: rgb(106, 106, 106);
  }
</style>
<BaseLayout pageTitle={authorData.name}>
  <h1>{authorData.name}</h1>
  <p class="shortMessage">{authorData.shortMessage}</p>
  <p class="message">{authorData.message}</p>
  <BlogList posts={filteredPosts}/>
</BaseLayout>
