---
import Social from "./Social.astro";

const { section } = Astro.props;

---

<div>
  <Social username="nhennoejo" platform="GitHub" section={section}/>
  <Social username="nhennoejo" platform="x"  section={section}/>
  <Social username="nhennoejo" platform="Bluesky"  section={section}/>
  <Social username="nhennoejo" platform="Last.fm"  section={section}/>
  <Social username="nhennoejo" platform="RateYourMusic"  section={section}/>
</div>
